{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Editar Publicación</h2>
    <form method="POST" action="{% url 'editar_publicacion' publicacion.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="contenido">Contenido:</label>
            <textarea class="form-control" id="contenido" name="contenido" rows="5" required>{{ publicacion.contenido }}</textarea>
        </div>
        <div class="form-group mt-3">
            <label for="map_url">URL de Google Maps:</label>
            <input type="url" class="form-control" id="map_url" name="map_url" value="{{ publicacion.map_url }}" placeholder="https://maps.google.com/..." required>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Actualizar</button>
    </form>
</div>
{% endblock %}
